* {
  padding: 0;
  margin: 0;
  user-select: none;
  color: var(--c-black);
}

.containerBody {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: lightgray;
  font-family: "Anton", sans-serif;
}

button {
  font-family: "Black Ops One", cursive;
  cursor: pointer;
  border: 1px solid var(--c-gray);
}

.animShine {
  background: linear-gradient(90deg, #58c041, #fff, #e9220e);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 82%;
  animation: shine 12s linear infinite;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}

:root {
  --c-red: #e9220e;
  --c-green: #58c041;
  --c-orange: #c86c03;
  --c-white: rgb(235, 235, 235);
  --c-black: rgb(19, 19, 19);
  --c-gray: rgba(0, 0, 0, 0.5);
}

/* ///////////////////// Container Intro ///////////////////// */

.containerIntro {
  background-image: url(../img/bgIntro.png);
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.containerIntro h1 {
  font-size: 100px;
  margin-top: 50px;
  text-transform: uppercase;
  text-shadow: 1px -1px 8px var(--c-white);
}

.containerIntro p {
  font-size: 22px;
  margin-bottom: 40px;
  text-shadow: 1px -1px 8px var(--c-white);
  font-family: "Black Ops One", cursive;
}

.containerIntro button {
  padding: 1% 45px;
  font-size: 48px;
  margin: 3%;
  box-shadow: 4px 8px 18px var(--c-black), -2px -4px 18px var(--c-white);
  border-radius: 50px;
  color: var(--c-white);
  border: 2px solid var(--c-green);
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.5);
}

.containerIntro button:hover {
  box-shadow: 2px 4px 9px var(--c-black), -1px -2px 9px var(--c-white);
  color: black;
  border: 2px solid var(--c-white);
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0);
}

/* ///////////////////// Container Difficulties ///////////////////// */

#CupExample img {
  width: 16px;
}

#CupExample {
  font-size: 20px;
  margin: 0;
  text-shadow: none;
  letter-spacing: 4px;
}

.containerDifficulties {
  display: flex;
  flex-direction: column;
  display: none;
}

.containerDifficulties p {
  text-align: center;
  font-size: 48px;
  margin-bottom: 15px;
  text-shadow: 4px 8px 18px var(--c-white);
}

.containerDifficulties button {
  padding: 3% 45px;
  font-size: 48px;
  margin: 3%;
  color: var(--c-white);
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 4px 8px 18px var(--c-black), -2px -4px 18px var(--c-white);
  transition: 0.5s;
}

.containerDifficulties button:hover {
  background-color: rgba(122, 122, 122, 0.5);
  box-shadow: 2px 4px 9px var(--c-black), -1px -2px 9px var(--c-white);
  transition: 0.5s;
}

#difficulty10000 {
  border-radius: 50% 50% 0 0;
  border: 3px solid var(--c-red);
}

#difficulty10000:hover {
  border-radius: 50% 50% 0 0;
  border: 3px solid var(--c-white);
  color: var(--c-red);
}

#difficulty1000 {
  border: 3px solid var(--c-orange);
}

#difficulty1000:hover {
  border: 3px solid var(--c-white);
  color: var(--c-orange);
}

#difficulty100 {
  border-radius: 0 0 50% 50%;
  border: 3px solid var(--c-green);
}

#difficulty100:hover {
  border-radius: 0 0 50% 50%;
  border: 3px solid var(--c-white);
  color: var(--c-green);
}

/* ///////////////////// Container Game ///////////////////// */

.containerGame {
  width: 50%;
  display: flex;
  flex-direction: column;
  display: none;
}

/* ///////////////////// Score ///////////////////// */

.scorePlayer {
  margin: 0 30% 10px 30%;
  text-align: center;
  font-size: 28px;
  border: 1px solid var(--c-black);
  border-radius: 50% 50% 50px 50px;
  text-align: center;
  font-size: 34px;
  background-color: var(--c-white);
  box-shadow: 2px 4px 18px var(--c-black);
}

/* ///////////////////// Screen ///////////////////// */

.containerScreen p {
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 88px;
  background-color: var(--c-gray);
  color: var(--c-white);
  border-radius: 50px 50px 0 0;
  box-shadow: 2px 4px 18px var(--c-black);
  font-family: "Black Ops One", cursive;
}

/* ///////////////////// Result ///////////////////// */

.containerResult p {
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 70px;
  background-color: rgb(26, 26, 26);
  color: gold;
  text-transform: uppercase;
  box-shadow: 2px 4px 18px var(--c-black);
}

/* ///////////////////// Btn Game ///////////////////// */

.containerGame button {
  padding: 4% 3%;
  font-size: 48px;
}

.containerBtnNumber {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  box-shadow: 2px 4px 18px var(--c-black);
  color: var(--c-black);
  background-color: var(--c-white);
}

.containerBtnNumber button {
  color: var(--c-black);
  background-color: var(--c-white);
  transition: 0.3s;
}

.containerBtnNumber button:hover {
  box-shadow: 1px 1px 8px var(--c-black);
  color: var(--c-white);
  background-color: var(--c-gray);
  transition: 0.3s;
}

.containerBtnReset {
  display: grid;
  grid-template-columns: repeat(1, 100%);
}

#btnReset {
  padding: 2px 3% 0 3%;
  text-transform: uppercase;
  font-size: 18px;
  background-color: var(--c-red);
  color: var(--c-white);
  transition: 0.5s;
}

#btnReset:hover {
  background-color: var(--c-white);
  color: var(--c-red);
  transition: 0.5s;
}

.containerBtnValid {
  display: grid;
  grid-template-columns: repeat(1, 100%);
}

#btnVal {
  padding: 1% 3%;
  border-radius: 0 0 50% 50%;
  text-transform: uppercase;
  box-shadow: 2px 4px 18px var(--c-black);
  background-color: var(--c-green);
  color: var(--c-black);
  transition: 0.5s;
}

#btnVal:hover {
  box-shadow: 1px 2px 9px var(--c-black);
  background-color: var(--c-white);
  color: var(--c-green);
  transition: 0.5s;
}

/* ///////////////////// Last Number ///////////////////// */

.lastNumber {
  margin: 10px 15% 0 15%;
  text-align: center;
  font-size: 28px;
  border: 1px solid var(--c-black);
  border-radius: 50px 50px 50% 50%;
  text-align: center;
  font-size: 34px;
  background-color: var(--c-white);
  box-shadow: 2px 4px 18px var(--c-black);
}

/* ///////////////////// Container Cup ///////////////////// */

.containerCup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: top;
  width: 500px;
  height: 600px;
  display: none;
}

.gold {
  background-image: url("../img/or.png");
}

.silver {
  background-image: url("../img/argent.png");
}

.bronze {
  background-image: url("../img/bronze.png");
}

.echec {
  background-image: url("../img/echec.png");
}

.textCup {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textCup .textTop {
  font-size: 66px;
}

.textCup .textMiddle {
  font-size: 88px;
}

.textCup .textBottom {
  font-size: 55px;
}

.containerCup button {
  padding: 6px 39px;
  font-size: 48px;
  box-shadow: 4px 8px 18px var(--c-black), -2px -4px 18px var(--c-white);
  border-radius: 15px;
  color: var(--c-white);
  border: 3px solid var(--c-green);
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.5);
}

.containerCup button:hover {
  box-shadow: 3px 4px 9px var(--c-black), -1px -2px 9px var(--c-white);
  color: gold;
  border: 3px solid var(--c-white);
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.753);
}

.containerCup p {
  margin-bottom: 36px;
  text-shadow: 1px -1px 8px var(--c-white);
  font-family: "Black Ops One", cursive;
  text-transform: uppercase;
}
